h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-paddings {
  padding-top: 60px;
  padding-bottom: 60px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

footer {
  background-color: #2e2f42;
}

/* #region Header */

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link-studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-studio::after {
content: "";
width: 48px;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
left: 0;
bottom: -1px;
position: absolute;
}

.menu-link:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: flex;
  gap: 40px;
}

.address-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion Header */

/* #region Hero */

.hero {
  background: #2e2f42;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
  }

.container-hero {
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  max-width: 169px;
  height: 56px;
  display: block;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: #fff;
  background-color: #404bbf;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion Hero */

/* #region section 1 */

.section-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-menu {
  display: flex;
  gap: 24px;
}

.advantages-menu-list {
  width: calc((100%-72px) / 4);
}

.advantages-icon {
  color: #2E2F42;
  fill:none;
  position: relative;
}

.container-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F4FD; 
  border: 1px solid #8e8f99;
  height: 112px;
  width: 264px;
 border-radius: 4px;
 margin-bottom: 8px;
}

.advantages-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.address-item-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 264px;
}

/* #endregion section 1 */

/* #region section 2 */

.container-our-team {
  display: flex;
  flex-direction: column;
}

.our-team-menu-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100%-72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.section-our-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.our-team-menu {
  display: flex;
  gap: 24px;
}

.our-team-workers-img {
  background: url('path_to_image');
}

.container-our-team-item {
  padding: 32px 0;
}

.our-team-workers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #F4F4FD;
 
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404BBF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* #endregion section 2 */

/* #region section 3 */

.section-our-portfolio {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.our-portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-menu-list {
  width: calc((100% - 48px) / 3);
  overflow: hidden;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-overlay {
  position: relative;
  overflow: hidden;
}

.container-our-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-portfolio-overlay {
  position: absolute;
  top: 0;
font-size: 16px;
  line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4D5AE5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-menu-list:hover .our-portfolio-overlay {
transform: translateY(0%);
}

/* #endregion section 3 */

/* #region footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.container-footer-logo {
  display: block;
  justify-content: flex-start;
  margin-right: 120px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-span {
  color: #f4f4fd;
}

.footer-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.container-footer-social {
display: block;
max-width: 208px;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}

.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 0;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon-footer {
  fill: #F4F4FD;
  position: absolute;
}

.social-list-link-footer:hover, .social-list-link-footer:focus {
  background-color: #31D0AA;
}
/* #endregion footer */
